<form (ngSubmit)="onSubmit()" [formGroup]="cartaoForm">
  <div class="form-group">
    <label for="bandeiraID">Bandeira:</label>
    <select id="bandeiraID" formControlName="bandeiraID">
      <option value="selecione">Selecione</option>
      <option value="1">Visa</option>
      <option value="2">Mastercard</option>
      <option value="3">American Express</option>
      <option value="4">Elo</option>
      <option value="5">Hipercard</option>
    </select>
  </div>
  <div class="form-group">
    <label for="numeroCartao">Número do Cartão:</label>
    <input type="text" id="numeroCartao" formControlName="numeroCartao" />
  </div>
  <div class="form-group">
    <label for="nomeNoCartao">Nome no Cartão:</label>
    <input type="text" id="nomeNoCartao" formControlName="nomeNoCartao" />
  </div>
  <div class="form-group">
    <label for="codigoSeguranca">codigoSeguranca:</label>
    <input type="text" id="codigoSeguranca" formControlName="codigoSeguranca" />
  </div>
  <div class="form-group">
    <label for="preferencial">Preferencial:</label>
    <input type="checkbox" id="preferencial" formControlName="preferencial" />
  </div>



  <button type="submit">
    {{ cartaoEmEdicao ? 'Salvar Edição' : 'Adicionar Cartão' }}
  </button>
</form>
